<section id="about" class="section">
    <div>

        <header>
        <h2>Biography</h2>
        </header>

        <div>
            <div>
                <img src="assets/images/home/tom.jpg" width="100%" alt="Tom Tolleson">
            </div>
            <div>
                <p>Tom Tolleson is a Data Engineer with a mission to improve quality, consistency and organizational agility with secure, reliable data services and Machine Learning.</p>
                <p>I provide air support to both data engineering and data science teams and guide analytics to bring sophisticated, evident insights into organizational processes. This drives change while improving reliability, scalability, and cost efficiency.</p>
                <p>Core Competencies: SQL, Python, SCALA, C++, Hadoop, Spark, AWS, GCP, Azure, Strategic Business Planning, Solutions Architecture</p>
                <p>Academic insterests: Machine Learning, Music Composition.</p>
                <p>Personal: I travel as much as possible. Some of my favorite places are Cambodia, Portugal and Kenya. I have always felt a strong connection to the ocean; I'm a sailor and certified coastal navigator.</p>
            </div>
        </div>

    </div>

</section>
